In [5]:
'shift + Enter'  'for running'

'shift + Enter'

In [7]:
'option + Enter'  'for inserting a new cell'

'option + Enter'

In [ ]:
num = 12
name = 'sam'

In [ ]:
#formating

In [18]:
num = 12 
name = 'manish'
'my name is {one} and the roll no is {two} and also my class is {two}'.format(one=name ,two=num)

'my name is manish and the roll no is 12 and also my class is 12'

In [22]:
s = 'abcedefgh'
s[:3]
s[0:]
s[0:3]

'abc'

In [27]:
nest = [1,2,3,[4,5,['target']]]
nest[3][2][0]

'target'

In [37]:
d = {'key1': [1,2,3], 'k2': 123}

123

In [45]:
d['key1']

'value'

In [50]:
d['key1'][0]

'v'

In [51]:
True

True

In [52]:
False

False

In [54]:
if 1==2:
    print('hello')
elif 3 == 3:
    print('bye')
else:
    print('last')

bye

In [55]:
seq = [1,2,3,4,5]

In [56]:
for item in seq:
    print(item)

1
2
3
4
5

In [57]:
range(0,5)

range(0, 5)

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)

In [66]:
print(out)

[1, 4, 9, 16]

In [67]:
#alternative answers
[num**2 for num in x]

[1, 4, 9, 16]