In [5]:
'shift + Enter'  'for running on Mac '

'shift + Enter'

In [7]:
'option + Enter'  'for inserting a new cell on Mac '

'option + Enter'

In [ ]:
num = 12
name = 'sam'

Formating

In [68]:
num = 12 
name = 'sam'
'my name is {one} and the roll no is {two} and also my class is {two}'.format(one=name ,two=num)

'my name is sam and the roll no is 12 and also my class is 12'

In [22]:
s = 'abcedefgh'
s[:3]
s[0:]
s[0:3]

'abc'

In [86]:
nest = [1,2,3,[4,5,['target']]]
nest[3][2][0]

'target'

## Dictionary

In [37]:
d = {'key1': [1,2,3], 'k2': 123}

123

In [45]:
d['key1']

'value'

In [50]:
d['key1'][0]

'v'

In [54]:
if 1==2:
    print('hello')
elif 3 == 3:
    print('bye')
else:
    print('last')

bye

In [55]:
seq = [1,2,3,4,5]

In [56]:
for item in seq:
    print(item)

1
2
3
4
5

#### Range And Array

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)

In [66]:
print(out)

[1, 4, 9, 16]

In [67]:
#alternative answers
[num**2 for num in x]

[1, 4, 9, 16]

## Function

In [82]:
def my_func(name):
    print('Hello ' +name)

In [85]:
my_func('Sam')

Hello Sam

In [94]:
def square(num):
    return num**2

In [95]:
output = square(2)

In [96]:
output

4